/*
Theme Name: Geekery voor De Grizzly
Theme URI: https://gitlab.com/Aldo-f/geekery
Author: De Grizzly
Author URI: http://degrizzly.be/
Description: Dit thema werd gemaakt voor De Grizzly. Een hernieuwde versie van Geekery.
Version: 1.1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: geekery
Domain Path: /languages/
Tags: light, white, two-columns, right-sidebar, responsive-layout, custom-header, custom-background, custom-menu, custom-colors, post-formats, sticky-post, threaded-comments, translation-ready


*/


/* =Reset
-------------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: 300;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
    /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll;
    /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

body {
    background: #fff;
}

/* Site Origin font */
.sow-icon-fontawesome,
.sow-fab {
    font-family: 'sow-fontawesome-brands' !important;
}

.sow-fa,
.sow-fas {
    font-family: 'sow-fontawesome-free' !important;
    font-weight: 900;
}

/* font voor admin menu */
#wpadminbar .ab-icon,
#wpadminbar .ab-item::before,
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
    font: 400 20px/1 dashicons !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 15px;
    margin: 0 0 1.5em;
    width: 100%;
}

th {
    font-weight: bold;
}

th,
td {
    border: 1px solid #EAEAEA;
    padding: 6px 10px;
}

caption,
th,
td {
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: """";
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
    outline: 0;
}

a img {
    border: 0;
}


@font-face {
    font-family: 'polyregular';
    src: url('font/poly-regular.eot');
    src: url('font/poly-regular.eot?#iefix') format('embedded-opentype'),
        url('font/poly-regular.woff2') format('woff2'),
        url('font/poly-regular.woff') format('woff'),
        url('font/poly-regular.ttf') format('truetype'),
        url('font/poly-regular.svg#polyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
    font-family: 'Merriweather', Georgia, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #444444;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    clear: both;
}

h1 {
    font-size: 30px;
    line-height: 36px;
}

h2 {
    font-size: 28px;
    line-height: 34px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
}

h4 {
    font-size: 24px;
    line-height: 30px;
}

h5 {
    font-size: 22px;
    line-height: 28px;
}

h6 {
    font-size: 19px;
    line-height: 25px;
}

hr {
    background-color: #eaeaea;
    border: 0;
    height: 1px;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

/* Text elements */
p {
    color: #444444;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
}

ul,
ol {
    margin: 0;
}

ul {
    list-style: none;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 15px;
    margin-left: 1.5rem;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 15px 15px;
    margin: 0 1.5rem 1.5rem;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EAEAEA #EAEAEA #EAEAEA #20B2AA;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    font-style: italic;
    margin-bottom: 20px;
    padding: 20px 20px 5px;
}

blockquote cite {
    color: #333333;
    font: 300 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

address {
    margin: 0 0 15px;
    margin: 0 0 1.5rem;
    display: block;
    font-style: italic;
}

pre {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 16px;
    margin-bottom: 1.6rem;
    max-width: 100%;
    overflow: auto;
    padding: 16px;
    padding: 1.6rem;
    white-space: pre-wrap;
    overflow: auto;
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    white-space: pre-wrap;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
    white-space: pre-wrap;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

figure {
    margin: 0;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

/* For icon display hide of jetpack site stats */
img#wpstats {
    display: none;
}

button,
input,
select,
textarea {
    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline;
    /* Improves appearance and consistency in all browsers */
    *vertical-align: middle;
    /* Improves appearance and consistency in all browsers */
}

button,
input {
    line-height: normal;
    /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: #20B2AA;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 8px 16px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
    text-decoration: none;
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* Addresses box sizing set to content-box in IE8/9 */
    padding: 0;
    /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* Addresses appearance set to searchfield in S5, Chrome */
    -webkit-box-sizing: content-box;
    /* Addresses box sizing set to border-box in S5, Chrome (include -moz to geekery-proof) */
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 3px;
}

textarea {
    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding-left: 3px;
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
    width: 98%;
}

/* Links */
a {
    color: #20B2AA;
    text-decoration: none;
}

a:visited {}

a:hover,
a:focus,
a:active {}

/* clearfix hack */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* close commented backslash hack */

/* Alignment */
.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
    margin-right: 1.5rem;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
    margin-left: 1.5rem;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}

.alignnone {
    margin: 10px 0;
}

/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: '';
    display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/* =Layout
----------------------------------------------- */
.inner-wrap {
    max-width: 1218px;
    margin: 0 auto;
}

#primary {
    width: 68%;
    float: left;
}

#full-width #primary {
    width: 100%;
    float: none;
}

#secondary {
    width: 28%;
    float: right;
}

#content {
    padding-top: 30px;
}

#content a:hover {
    text-decoration: underline;
}

/* =Header
----------------------------------------------- */
#parallax-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#page {
    position: relative;
    z-index: 888;
    margin-top: 65px;
}

#masthead {}

.header-wrap {
    border-bottom: 1px solid #E1E4E6;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 999999;
    background-color: #4CC1BB;
}

body.admin-bar .header-wrap {
    top: 32px;
}

.site-branding {
    float: left;
    font-family: 'Roboto';
    max-width: 100%;
    margin-right: 30px;
}

.site-title {
    font-size: 36px;
    font-size: 3.6rem;
    padding: 5px 20px 5px 25px;
    padding: 0.5rem 0rem 0.5rem 2.5rem;
    float: left;
    line-height: 1.5;
    clear: none;
}

.site-title a {
    color: #FFF;
    font-family: 'polyregular';
    padding-right: 20px;
}

.site-title a:hover {
    color: #FFFDDD;
    text-decoration: none;
}

.post-content a {
    color: #fff;
}

.site-title img {
    height: 45px;
    padding-top: 8px;
}

.site-description {
    float: left;
    font-size: 18px;
    clear: none;
    margin-top: 16px;
    color: #FFF;
    border-left: 1px solid;
    padding-left: 20px;
}

img.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#masthead .search-form {
    float: right;
    position: absolute;
    right: 0;
    top: 65px;
    background-color: #20B2AA;
    padding: 2px 2px;
    display: none;
    z-index: 999;
    width: 100%;
}

#masthead .search-form .search-field {
    width: 100%;
    line-height: 35px;
}

#masthead .search-form input[type="submit"] {
    display: none;
}

.header-search-icon {
    float: right;
    border-left: 1px solid #FFF;
    padding: 14px 10px 10px 10px;
    cursor: pointer;
}

.header-search-icon:before {
    content: '\f400';
    color: #FFF;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 40px/1 'Genericons';
    vertical-align: top;
}

/* =Slider
----------------------------------------------- */
#slider-wrap {
    max-height: 500px;
    overflow: hidden;
}

.owl-theme .owl-controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.owl-item .item img {
    width: 100%;
}

.owl-item .item .post-content {
    position: absolute;
    width: 50%;
    top: 10%;
    left: 5%;
    background-color: rgba(54, 53, 51, 0.3);
    background: rgba(54, 53, 51, 0.3);
    padding: 14px;
    padding-bottom: 0;
}

.owl-item .item .post-content p,
.owl-item .item .post-content h2 {
    color: #EAEAEA;
}

.owl-item .item .post-content h2 {
    font-family: 'polyregular';
}

.owl-theme .owl-controls .owl-page span {
    background: #FFF;
}

/* =Menu
----------------------------------------------- */

.main-navigation {
    float: right;
    max-width: 100%;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    font-family: 'Roboto';
    float: left;
    position: relative;
    font-size: 18px;
    font-size: 14px;
    line-height: 4.7;
}

.main-navigation a {
    font-family: 'Roboto';
    padding: 0 18px;
    display: block;
    text-decoration: none;
    color: #FFF;
}

.main-navigation a:hover,
.main-navigation ul li.current-menu-item a,
.main-navigation ul li.current_page_ancestor a,
.main-navigation ul li.current-menu-ancestor a,
.main-navigation ul li.current_page_item a,
.main-navigation ul li:hover>a {
    background-color: #DDDDDD;
    color: #ffffff;
}

/* Dropdown */
.main-navigation ul li ul,
.main-navigation ul li:hover ul ul,
.main-navigation ul ul li:hover ul ul,
.main-navigation ul ul ul li:hover ul ul,
.main-navigation ul ul ul ul li:hover ul ul {
    display: none;
    z-index: 9999;
}

.main-navigation ul li:hover ul,
.main-navigation ul ul li:hover ul,
.main-navigation ul ul ul li:hover ul,
.main-navigation ul ul ul ul li:hover ul,
.main-navigation ul ul ul ul ul li:hover ul {
    display: block;
}

.main-navigation ul ul {
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 63px;
    z-index: 99999;
}

.main-navigation ul ul li {
    border-left: none;
    font-size: 14px;
    font-size: 1.4rem;
}

.main-navigation ul li ul li a,
.main-navigation ul li.current-menu-item ul li a,
.main-navigation ul li ul li.current-menu-item a,
.main-navigation ul li.current_page_ancestor ul li a,
.main-navigation ul li.current-menu-ancestor ul li a,
.main-navigation ul li.current_page_item ul li a {
    color: #444444;
    background-color: #FFFFFF;
}

.main-navigation ul li ul li a:hover,
.main-navigation ul li ul li:hover>a,
.main-navigation ul li.current-menu-item ul li a:hover {
    background-color: #20B2AA;
    color: #ffffff;
}

.main-navigation ul ul ul {
    left: 100%;
    top: 0;
}

.main-navigation ul ul a {
    min-width: 200px;
}



/* =Content
----------------------------------------------- */
.sticky {}

.hentry {
    margin-bottom: 40px;
    margin-bottom: 4rem;
    padding: 30px;
    padding: 3rem;
    background-color: #FFFFFF;
    -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
}

.page-header {
    margin-bottom: 40px;
    margin-bottom: 4rem;
    padding: 10px 30px;
    padding: 1rem 3rem;
    background-color: #FFFFFF;
    text-align: center;
}

.updated {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 15px 0 0;
    word-wrap: break-word;
    margin: 1.5rem 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 15px;
    margin: 0 0 1.5rem;
}

.entry-title {
    font-family: 'polyregular';
    font-size: 30px;
    font-size: 3rem;
    margin: 0 0 10px;
    margin: 0 0 1rem;
    line-height: 1.5;
    color: #000;
}

.page-title {
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.5;
}

.entry-title a {
    color: #444444;
}

#content .entry-title a:hover {
    color: #20B2AA;
    text-decoration: none;
}

.entry-content ul {
    list-style: square;
}

.entry-content ul,
.entry-content ol {
    padding: 0 0 0 35px;
    margin-bottom: 30px;
}

.entry-content li>ul,
.entry-content li>ol {
    margin-bottom: 0;
}

.entry-header .entry-meta span {
    padding-right: 20px;
}

.entry-meta span {
    color: #999999;
    font-size: 14px;
    font-size: 1.4rem;
    width: 32%;
    text-align: center;
    display: inline-block;
}

.post-img {
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.post-img img {
    width: 100%;
    height: auto;
    transition: all 2.0s ease;
    -webkit-transition: all 2.0s ease;
    -moz-transition: all 2.0s ease;
    -o-transition: all 2.0s ease;
    -ms-transition: all 2.0s ease;
}

.post-img:hover img {
    -webkit-transform: scale(1.1);
    /* Webkit: Scale up image to 1.2x original size; */
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.entry-meta span.author a:before {
    content: '\f304';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 22px/1 'Genericons';
    vertical-align: top;
}

.entry-meta span:hover {
    color: #20B2AA;
}

.entry-meta span a {
    color: #999999;
}

#content .entry-meta span a:hover {
    color: #20B2AA;
    text-decoration: none;
}

.entry-meta .posted-on:before,
.entry-meta .byline:before,
.entry-meta .cat-links:before,
.entry-meta .tags-links:before,
.entry-meta .comments-link:before,
.entry-meta .edit-link:before {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 22px/1 'Genericons';
    vertical-align: top;
}

#primary article .entry-meta {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 5px;
}

#primary article footer.entry-meta {
    border: none;
}

footer.entry-meta span {
    color: #999999;
    font-size: 14px;
    font-size: 1.4rem;
    width: 100%;
    text-align: left;
    display: block;
}

footer.entry-meta span.cat-links a,
footer.entry-meta span.tags-links a {
    background: #20B2AA;
    padding: 2px 5px;
    font-size: 12px;
    color: #FFF;
}

footer.entry-meta span.cat-links a:hover,
footer.entry-meta span.tags-links a:hover {
    background: #DDDDDD;
    color: #FFF;
}

.entry-meta .posted-on:before {
    content: '\f307';
}

.entry-meta .cat-links:before {
    content: '\f301';
}

.entry-meta .tags-links:before {
    content: '\f302';
}

.entry-meta .comments-link:before {
    content: '\f300';
}

.entry-meta .edit-link:before {
    content: '\f411';
}

/* =Featured pages section - front page
----------------------------------------------- */
.tg-one-third {
    float: left;
    width: 31.143952%;
    margin: 0 3.284072% 30px 0;
    margin: 0 3.284072% 3rem 0;
}

.tg-one-third-last {
    margin-right: 0;
}

.readmore-button {
    text-align: center;
    font-family: 'polyregular';
    float: right;
    background: #20B2AA;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: none;
    padding: 6px 12px;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.readmore-button a {
    font-size: 15px;
    padding: 5px 10px;
    color: #FFF !important;
}

.readmore-button:hover,
.readmore-button a:hover {
    background-color: #DDDDDD;
    color: #20B2AA !important;
    text-decoration: none !important;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* =No Results
----------------------------------------------- */
.not-found .page-content {
    padding: 30px;
    padding: 3rem;
    background-color: #FFFFFF;
}

.not-found .search-form {
    text-align: center;
}

/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}



/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.wp-caption {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%;
}

.wp-caption-text {
    text-align: center;
}

.wp-caption .wp-caption-text {
    margin: 8px 0;
    margin: 0.8075rem 0;
}

.site-main .gallery {}

.gallery-caption {}

.site-main .gallery a img {}

.site-main .gallery dd {}

.site-main .gallery-columns-4 .gallery-item {}

.site-main .gallery-columns-4 .gallery-item img {}

/* =WordPress Gallery Support
----------------------------------------------- */
.gallery {
    margin: 0 auto 20px;
    margin: 0 auto 2rem;
}

.gallery .gallery-item {
    float: left;
    display: block;
    background: #fff;
    margin: 10px 1.5% 20px;
    text-align: center;
}

.gallery .gallery-item:hover {}

.gallery .gallery-icon {
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-height: 0;
}

.gallery-columns-1 .gallery-item {
    float: none;
    text-align: center;
    width: 100%;
    margin: 10px 0 20px;
}

.gallery-columns-2 .gallery-item {
    width: 47%;
}

.gallery-columns-3 .gallery-item {
    width: 30%;
}

.gallery-columns-4 .gallery-item {
    width: 22%;
}

.gallery-columns-5 .gallery-item {
    width: 17%;
}

.gallery-columns-6 .gallery-item {
    width: 13.6%;
}

.gallery-columns-7 .gallery-item {
    width: 12.25%;
    margin: 10px 1% 10px;
}

.gallery-columns-8 .gallery-item {
    width: 10.5%;
    margin: 10px 1% 10px;
}

.gallery-columns-9 .gallery-item {
    width: 9.11%;
    margin: 10px 1% 10px;
}

.gallery dl a {
    display: block;
}

.gallery dl a img {
    height: auto;
    margin: 0 auto;
}

.gallery .gallery-caption {
    font-size: 14px;
    line-height: 1.2;
    margin: 10px 0 0;
}

.gallery br+br {
    display: none;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
    max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
    margin: 0 0 15px;
    margin: 0 0 1.5rem;
    overflow: hidden;
}

[class*="navigation"] .nav-previous {
    float: left;
    max-width: 48%;
}

[class*="navigation"] .nav-next {
    float: right;
    text-align: right;
    max-width: 48%;
}

/* =Comments
----------------------------------------------- */

#comments {
    padding: 30px;
    padding: 3rem;
    background-color: #FFFFFF;
    margin-bottom: 40px;
    margin-bottom: 4rem;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {}

#comments h1,
#comments h2,
#comments h3,
#comments h4,
#comments h5,
#comments h6 {
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

#comments h2.comments-title {
    margin-bottom: 30px;
}

.avatar {
    border-radius: 50%;
    float: left;
}

.comments-area article header {
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
}

.comment-meta {
    display: block;
    clear: right;
    width: 100%;
}

.comments-area .comment-permalink,
.comments-area .comment-date-time,
.comments-area .comment-author-link {
    display: block;
    color: #999999;
    width: 55%;
    float: left;
    text-align: left;
    margin-left: 10px;
}

#content .comments-area article header cite a:hover,
#content .comments-area a.comment-edit-link:hover,
#content .comments-area a.comment-permalink:hover {
    color: #20B2AA;
}

.comments-area .comment-author-link a,
.comment-author-link {
    color: #000 !important;
    text-transform: capitalize;
    margin-top: 5px;
}

.comments-area .comment-author-link a:hover {
    color: #20B2AA;
}

.comments-area .comment-author-link span {
    margin-left: 10px;
    padding: 0 5px;
    background-color: #20B2AA;
    color: #FFFFFF;
    border-radius: 3px;
}

.comments-area article header .comment-author-link:before,
.comments-area article header .comment-edit-link:before,
.comments-area article header .comment-permalink:before,
.comments-area article header .comment-date-time:before {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 22px/1 'Genericons';
    vertical-align: top;
}

.comments-area article header .comment-author-link:before {
    content: '\f304';
}

.comments-area article header .comment-edit-link:before {
    content: '\f411';
}

.comments-area article header .comment-permalink:before {
    content: '\f107';
}

.comments-area article header .comment-date-time:before {
    content: '\f307';
}

.comment-content {
    padding: 20px;
    padding: 2rem;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
}

.comment {
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
}

.comment ul,
.comment ol {
    margin: 0 0 20px 20px;
}

.comment ul {
    list-style: square outside none;
}

.comment .comment-reply-link {
    float: right;
    color: #999999;
}

.comment .comment-reply-link:hover {
    color: #20B2AA;
}

.comment .comment-reply-link:before {
    content: '\f412';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 22px/1 'Genericons';
    vertical-align: top;
}

.comment-list {
    margin-bottom: 34px;
    margin-bottom: 3.4rem;
}

.comment-list .children {
    margin-left: 20px;
}

.comment-list,
.comment-list .children {
    list-style-type: none;
    padding: 0;
}

/* Comment form */
#respond {}

#respond h3#reply-title {
    line-height: 1.5;
}

#respond h3#reply-title #cancel-comment-reply-link {
    margin-left: 10px;
    margin-left: 1rem;
    font-weight: normal;
    font-size: 16px;
    font-size: 1.6rem;
}

#respond form {
    margin: 24px 0;
    margin: 2.4rem 0;
}

#respond form p {
    margin: 11px 0;
    margin: 1.1rem 0;
}

#respond form p.logged-in-as {
    margin-bottom: 16px;
    margin-bottom: 1.6rem;
}

#respond form label {
    display: block;
    line-height: 1.5;
}

#respond form input[type="text"],
#respond form textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 10px;
    padding: 1rem;
    width: 100%;
}

#respond form p.form-allowed-tags {
    margin: 0;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #5e5e5e;
}

.required {
    color: red;
}


/* =Widgets
----------------------------------------------- */
.widget {
    margin-bottom: 40px;
    margin-bottom: 4rem;
    padding: 30px;
    padding: 3rem;
    background-color: #FFFFFF;
}

.widget-title {
    font-family: 'Roboto';
    font-size: 25px;
    font-size: 2.5rem;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
    color: #444444;
}

.widget li {
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

/* Make sure select elements fit in widgets */
.widget select {
    max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
    display: none;
}

.widget_search .search-form {
    width: 90%;
    padding-top: 3rem;
}

.widget_search input[type="search"] {
    width: 99%;
    padding: 14px;
}

.widget th,
.widget td {
    padding: 1px 1px 1px 2px;
}

#secondary .widget {
    padding-top: 0;
    ;
}

#secondary .widget-title {
    font-family: 'polyregular';
    border-bottom: 1px dashed #E9E9E9;
    padding: 15px 20px;
    text-transform: uppercase;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 0;
    background: #20B2AA;
    color: #FFFFFF !important;
}

/* =Infinite Scroll
----------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
/* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
    display: block;
}

/* =Footer
----------------------------------------------- */
#colophon {
    border-top: 1px solid #E1E4E6;
    padding: 20px 0;
    background-color: #666;
}

#colophon .site-info {
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    color: #FFFFFF;
}

.nav-links .nav-previous,
.nav-links .nav-next {
    background: #FFF;
    padding: 3px;
}

#content .nav-links .nav-previous a:hover,
#content .nav-links .nav-next a:hover {
    text-decoration: none;
}

/* Small menu */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.site-header .menu-toggle {
    background: #20B2AA;
    color: #fff;
    font-size: 30px;
    font-size: 3rem;
    font-weight: 300;
    padding: 5px 22px;
    margin: 0;
}

.site-header .menu-toggle:hover {
    background: #20B2AA;
}

.site-header .menu-toggle:before {
    content: '\f419';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 22px/1 'Genericons';
    vertical-align: top;
    padding-top: 8px;
}

.main-small-navigation {
    width: 66px;
    float: right;
    padding-top: 0;
    background-color: #000;
    margin: 10px 25px 0 0;
    margin: 1rem 2.5rem 0 0;
}

.main-small-navigation ul {
    margin: 0;
    list-style: none;
    padding: 0px 0;
}

.main-small-navigation li {
    background: #ffffff;
}

.main-small-navigation a {
    display: block;
    color: #444444;
    padding: 5px 22px;
    text-decoration: none;
    font-size: 18px;
}

.main-small-navigation li:hover>a {
    color: #ffffff;
}

.main-small-navigation ul>.current_page_item,
.main-small-navigation ul>.current-menu-item {
    background: #20B2AA;
}

.main-small-navigation ul>.current_page_item a,
.main-small-navigation ul>.current-menu-item a {
    color: #ffffff;
}

.main-small-navigation ul li ul li a,
.main-small-navigation ul li.current-menu-item ul li a,
.main-small-navigation ul li ul li.current-menu-item a,
.main-small-navigation ul li.current_page_ancestor ul li a,
.main-small-navigation ul li.current-menu-ancestor ul li a,
.main-small-navigation ul li.current_page_item ul li a {
    color: #444444;
    background-color: #FFFFFF;
}

.main-small-navigation ul li ul li a:hover,
.main-small-navigation ul li ul li:hover>a,
.main-small-navigation ul li.current-menu-item ul li a:hover {
    background-color: #20B2AA;
    color: #ffffff;
}

/* =Responsive Structure
----------------------------------------------- */
@media screen and (max-width: 1308px) {
    #page {
        width: 100%;
    }

    .inner-wrap {
        width: 96%;
    }
}

@media screen and (max-width: 782px) {
    body.admin-bar .header-wrap {
        top: 45px;
    }
}

/* All Mobile Portrait size smaller than 768 (devices and browsers) */
@media screen and (max-width: 768px) {
    #slider-wrap {
        max-height: 300px;
    }

    .header-wrap {
        opacity: 1;
    }

    .owl-item .item .post-content {
        display: none;
    }

    #primary,
    #secondary {
        float: none;
        width: 100%;
    }

    .site-branding {
        margin-right: 0;
    }

    .menu-toggle,
    .main-navigation.toggled .nav-menu {
        display: block;
    }

    .main-navigation ul {
        display: none;
    }

    /*.site-branding {
		max-width: 60%;
	}*/
    .main-navigation {
        margin: 10px 25px 0 0;
        margin: 1rem 2.5rem 0 0;
    }

    .site-header .menu-toggle {
        background-color: #FFFFFF;
        color: #20B2AA;
    }

    .site-header .menu-toggle:hover {
        color: #20B2AA;
        background-color: #FFFFFF;
    }

    /* Mobile Menu */

    .menu-header-menu-container {
        width: 100%;
        float: none;
        position: absolute;
        left: 0;
    }

    .main-small-navigation ul {
        width: 100%;
        min-width: 250px;
        margin-left: -184px;
        -webkit-box-shadow: 1px 9px 30px #fff;
        box-shadow: 1px 9px 30px #fff;
    }

    .main-small-navigation ul ul {
        margin-left: 0;
    }

    .tg-one-third {
        width: 100%;
        float: none;
    }

    /*.site-description {
		display: none;
	}*/
    .site-title a {
        border: none;
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin-top: 0 !important;
    }

}


/* extra voor bericht "grootkamp special" */

.post-1877 td,
.post-1877 th {
    border: none !important;
    vertical-align: middle !important;
}


.vp-portfolio__filter-wrap {
    display: none !important;
}

/* Navigation */
.site-header .menu-toggle {
    padding: 5px 12px !important;
    border-radius: 41px !important;
}

.main-small-navigation {
    width: 46px;
    background-color: none;
}

@media screen and (max-width: 768px) {
    .main-small-navigation ul {
        width: 100%;
        min-width: 250px;
        margin-left: -250px;
        /* -webkit-box-shadow: 1px 9px 30px #fff; */
        /* box-shadow: 1px 9px 30px #fff; */
        transition: liniar .7s;
    }
}

/* font voor icons */
.sow-carousel-title a.sow-carousel-next,
.sow-carousel-title a.sow-carousel-previous {
    font-family: 'carousel-arrows', 'Arial Unicode MS' !important;
}

/* Andere font voor hetzelfde te zijn dan de facebook plugin */
body,
button,
input,
select,
textarea,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6,
a,
.entry-title,
#secondary .widget-title,
.main-navigation a {
    font-family: Helvetica, Arial, sans-serif, 'Arial Unicode MS' !important;
}

p {
    font-size: 16px !important;
    font-weight: inherit !important;
    line-height: 1.38 !important;
}

/* color adjustments */

.header-wrap,
#secondary .widget-title,
footer.entry-meta span.cat-links a,
footer.entry-meta span.tags-links a {
    /* background-color: #b90f15; */
    background: linear-gradient(to right, #b3232a, #b90f15);
}

#content {
    padding-top: 30px;
}

/* blog posts adjustments */

.hentry,
#secondary .widget,
.comments-area {
    border-radius: 18px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.hentry:hover,
#secondary .widget:hover,
.comments-area:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

/* Sidebar adjustments */
.header-wrap {
    border-bottom: 1px solid #a01e1e;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.widget-title {
    font-size: 1.6rem;
    border-radius: 18px 18px 0 0;
}

#secondary .widget-title {
    border-bottom: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}


/* kleine fix voor ongeveer zelfde afstand te hebben bij widget 1 en en 2 */
.widget_search .search-form {
    padding-top: 2rem;
}


/* category en prev/next link */
.nav-links .nav-previous,
.nav-links .nav-next,
span.cat-links a,
span.tags-links a,
.page-header {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 8px;
    margin-bottom: 24px;
}

.nav-links .nav-previous:hover,
.nav-links .nav-next:hover,
span.cat-links a:hover,
span.tags-links a:hover,
.page-header:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

footer.entry-meta span.cat-links a,
footer.entry-meta span.tags-links a {
    padding: 8px;
}

span.tags-links {
    margin-top: 12px;
}

/* responsive menu */
@media screen and (max-width: 965px) {
    button#responsive-menu-button {
        top: 5px !important;
        right: 18px !important;
        background: #000 !important;
    }

    #responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link {
        font-size: 16px !important;
    }

    .admin-bar button#responsive-menu-button {
        top: 37px !important;
    }
}

@media screen and (max-width: 965px) and (max-width: 768px) {
    button#responsive-menu-button {
        top: 10px !important;
        right: 18px !important;
        background: #000 !important;
    }

    .admin-bar button#responsive-menu-button {
        top: 50px !important;
    }
}

@media screen and (max-width: 768px) {
    button#responsive-menu-button {
        top: 5px !important;
    }
}

/* menu shadow */
.sub-menu {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

/* Disable rss link van title */
.widget-title>a.rsswidget {
    color: #fff;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

/* Overschrijven de de padding bij een ul, enkel voor de wp-block-gallery */
ul.wp-block-gallery {
    padding-left: 0;
}


/************************************************
** De nieuwe (accent)kleuren:
* Hoofdkleur 1: #b90f15;
* Hoofdkleur 1 (gradient): #b3232a;
* Accentkleur 1: #aa8838;
* Accentkleur 2: #EAEAEA; 
* Accentkleur 2 (hover): #777777;
* Background color: #EAEAEA;
* Active color nav: #DDDDDD; 

** Oud 
- Accentkleur 1: #20b2aa; 
************************************************/

/* nav */

blockquote {
    border-color: #EAEAEA #EAEAEA #EAEAEA #aa8838;
}

a {
    color: #aa8838;
}

.site-title a:hover {
    color: #777777;
}

.header-wrap,
#secondary .widget-title,
footer.entry-meta span.cat-links a,
footer.entry-meta span.tags-links a {
    background-color: #aa8838;
}

.main-navigation a:hover,
.main-navigation ul li.current-menu-item a,
.main-navigation ul li.current_page_ancestor a,
.main-navigation ul li.current-menu-ancestor a,
.main-navigation ul li.current_page_item a,
.main-navigation ul li:hover>a {
    color: #aa8838;
}

#masthead .search-form,
.main-navigation ul li ul li a:hover,
.main-navigation ul li ul li:hover>a,
.main-navigation ul li.current-menu-item ul li a:hover {
    background-color: #aa8838;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: #aa8838;
}

#content .entry-title a:hover {
    color: #aa8838;
}

.entry-meta span:hover {
    color: #aa8838;
}

#content .entry-meta span a:hover {
    color: #aa8838;
}

#content .comments-area article header cite a:hover,
#content .comments-area a.comment-edit-link:hover,
#content .comments-area a.comment-permalink:hover {
    color: #aa8838;
}

.comments-area .comment-author-link a:hover {
    color: #aa8838;
}

.comment .comment-reply-link:hover {
    color: #aa8838;
}

.site-header .menu-toggle {
    color: #aa8838;
}

.site-header .menu-toggle:hover,
.readmore-button:hover a {
    color: #aa8838 !important;
}

.main-small-navigation li a:hover {
    background: #aa8838;
}

.main-small-navigation ul>.current_page_item,
.main-small-navigation ul>.current-menu-item {
    background: #aa8838;
}

.main-small-navigation ul li ul li a:hover,
.main-small-navigation ul li ul li:hover>a,
.main-small-navigation ul li.current-menu-item ul li a:hover {
    background-color: #aa8838;
}

/* Sub menu links onder menu */
.main-navigation ul ul {
    float: right;
    right: 0;
    left: unset;
}

#featured_pages a.more-link:hover {
    border-color: #aa8838;
    color: #aa8838;
}

a#back-top:before,
.comments-area .comment-author-link span,
.readmore-button {
    background-color: #aa8838;
}

/* gewoon omverschrijven, moet nog juist geplaats worden */

.event {
    background-color: #663300 !important;
}

.event:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

a.evcal_list_a {
    border-color: #663300 !important;
}

#masthead .search-form,
.main-navigation ul li ul li a:hover,
.main-navigation ul li ul li:hover>a,
.main-navigation ul li.current-menu-item ul li a:hover {
    background-color: #663300;
}

.main-navigation a:hover,
.main-navigation ul li.current-menu-item a,
.main-navigation ul li.current_page_ancestor a,
.main-navigation ul li.current-menu-ancestor a,
.main-navigation ul li.current_page_item a,
.main-navigation ul li:hover>a {
    color: #663300;
}

.header-wrap,
#secondary .widget-title,
footer.entry-meta span.cat-links a,
footer.entry-meta span.tags-links a {
    background-color: #b90f15;
}

a {
    color: #663300;
}

#content .entry-title a:hover {
    color: #663300;
}

a#back-top:before,
.comments-area .comment-author-link span,
.readmore-button {
    background-color: #aa8838;
}

.readmore-button:hover,
.readmore-button a:hover {
    background-color: #b2934b;
    color: #fff !important;
}

#content .entry-meta span a:hover {
    color: #663300;
}

.entry-meta span:hover {
    color: #663300;
}


/* logo en titel site */
.site-title img {
    padding-right: 20px;
    padding-top: 6px;
}

.header-wrap.clearfix {
    height: 65px;
    border-bottom: 0;
}

body {
    background-color: #EAEAEA;
}


/* geen padding link/rechts voor SiteOrigin panels */
.so-panel.widget {
    padding: 3rem 0
}


/* Aanpassingen aan Simple Calendar */
ul.simcal-events {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}

.simcal-calendar {
    padding: 0;
}

.simcal-event-title,
.simcal-event-start.simcal-event-start-date,
.simcal-event-address.simcal-event-start-location {
    font-size: 16px;
}

aside#text-2>.textwidget>br {
    display: none;
}

/* Hide next en prev when empty */
.nav-next:empty,
.nav-previous:empty {
    display: none;
}

/* Display search btn in same style as shopsearch btn */
.widget_search input[type=search] {
    width: 59%;
}

.widget_search .search-submit {
    display: inline-block;
    padding: 16px
}

.widget_search .search-form {
    width: 100%;
}

form#yith-ajaxsearchform {
    padding-top: 2rem;
}

/**************
* WooCommerce *
***************/
/* Change WooCommerce colors to site colors */
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #aa8838;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #b2934b;
    color: #fff;
}

/* Social login on "mijn-account" */
.woocommerce-form-login .wc-social-login, .woocommerce-form-login .woocommerce-LostPassword {
     padding-left: 3px
}

/**********
* Tickera *
***********/
.tickera-button:hover {
    background-color: #b2934b;
}

/* Same hight for input fields and btn */
/* buy ticket page */

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search] {
    padding: 7px;
}

input#apply_coupon,
input#update_cart,
input#proceed_to_checkout {
    height: 42px;
}

input#coupon_code {
    height: 25px;
}

.tickera-input-field {
    height: 28px;
}

/* search in shop */
input#yith-s {
    height: 30px;
}

input#yith-searchsubmit {
    height: 46px;
}


